<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit Test</title>
</head>

<body>
    <div>Trang Edit Test</div>
    <table>
        <tr>
            <td>Test Name</td>
            <td>Question Type</td>
            <td>Time</td>

        </tr>
        <tr>
            <form th:action="@{/editTest}" method="post">
                <input type="hidden" name="testID" th:value="${Test.testID}">
                <td>
                    <input type="text" name="testName" placeholder="Test Name" th:value="${Test.testName}">
                </td>
                <input type="hidden" name="lessonID" placeholder="Lesson ID" th:value="${Lesson.lessonID}">
                <td>
                    <input type="text" name="testQuestionType" placeholder="Question Type"
                        th:value="${Test.testQuestionType}">
                </td>
                <td>
                    <input type="time" name="testTime" placeholder="Time" th:value="${Test.testTime}">
                </td>
                <td>
                    <button type="submit">Save Change</button>
                </td>
            </form>
        </tr>
    </table>
</body>

</html>