<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Test Main Page</title>
</head>

<body>
    <h1> List All Test</h1>

    <a th:href="@{/CreateTest}">Create test</a>

    <table border="5">
        <tr>
            <td style="display: none;">Test Main ID</td>
            <td>Test Name </td>
            <td style="display: none;">Lesson ID </td>
            <td>Question Type</td>
            <td>Time</td>
            <td style="text-align: center;">Action</td>
        </tr>
        <!-- ====== -->
        <tr th:each="Test : ${AllTests}">
            <td style="display: none;" th:text="${Test.testID}"></td>
            <td th:text="${Test.testName}"></td>
            <td style="display: none;" th:text="${Test.lesson.lessonID}"></td>
            <td th:text="${Test.testQuestionType}"></td>
            <td th:text="${Test.testTime}"></td>
            <td><a href="">
                    Take the test</a> <a th:href="@{/EditTest/{testID}}">Edit Test</a></td>
        </tr>
    </table>
</body>

</html>