<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Test Main Page</title>
</head>
<body>
    <h1>Test Main</h1>

    <table>
        <tr>
            <td>Test Main day3 ID</td>
            <td>Test Name </td>
            <td>Lesson ID</td>
            <td>Question Type</td>
            <td>Time</td>
            <td>Action</td>
        </tr>
        <!-- ====== -->
        <tr th:each = "Test : ${AllTests}">
            <td th:text="Test.testID"></td>
            <td th:text="Test.testName"></td>
            <td th:text="Test.lesson.lessonID"></td>
            <td th:text="Test.testQuestionType"></td>
            <td th:text="Test.testTime"></td>
            <td><a href="">View Deatail</a></td>
        </tr>
    </table>
</body>
</html>