<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>Trang Edit Course</div>
    <table>
        <tr>
            <td>Course Name</td>
            <td>Course Level</td>
            <td>Course Description</td>
            <td>Course Total Lessons</td>
            
        </tr>
        <tr>
            <form th:action="@{/editCourse}" method="post">
                <input type="hidden" name="courseID" th:value="${Course.courseID}">
                <td>
                    <input type="text" name="courseName" placeholder="Course Name" th:value="${Course.courseName}">
                </td>
                <td>
                    <input type="number" name="courseLevel" placeholder="Course Level" th:value="${Course.courseLevel}">
                </td>
                <td>
                    <input type="text" name="courseDescription" placeholder="Course Description" 
                        th:value="${Course.courseDescription}">
                </td>
                <td>
                    <input type="number" name="courseTotallesson" placeholder="Course Total Lessons" 
                        th:value="${Course.courseTotallessons}">
                </td>
                <td>
                    <button type="submit">Save Change</button>
                </td>
            </form>
        </tr>
    </table>
    
    
</body>

</html>