<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Course</title>
</head>
<body>
    <form th:action="@{/createCourse}" method="post">
        <input type="text" name="courseName" placeholder="Course Name" >
        <input type="number" name="courseLevel" placeholder="Course Level" max="5" min="0" style="width: 7%;">
        <input type="text" name="coureDescription" placeholder="Course Description" style="width: 20%;">
        <button type="submit">Create +</button>
    </form>
    
</body>
</html>