<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2> Copy and paste your link lesson here !</h2>
    <form th:action="@{/addLessonTopic}" method="post">
        <input type="hidden" name="lessonID" th:value="${LessonTopic.lessonID}">
        <input type="text" name="lessonTopic" id="lessonTopic" placeholder="Paste the link">
        <button type="submit">Add Topic</button>
    </form>
</body>

</html>