<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form th:action="@{/createLesson}" method="post">
        <input type="hidden" name="courseID" th:each="Course : ${AllCourses}" th:value="${Course.courseID}" th:number="${Course.courseID}">
        <input type="hidden" name="userID" th:value="${session.LoginSuccess.userID}">
        <input type="text" name="lessonName" placeholder="Lesson Name">
        <input type="text" name="lessonDescription" placeholder="Lesson Description">
        <button type="submit">Create Lesson</button>.
    </form>

</body>

</html>