<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson Detail</title>
</head>

<body>
    <h1>Lesson Detail</h1>
    <table border="1">
        <tr>
            <th>Lesson Name</th>
            <th>Lesson Description</th>
        </tr>
        <tr>
            <td th:text="${LessonDetail.lessonName}"></td>
            <td th:text="${LessonDetail.lessonDescription}"></td>
        </tr>
    </table>

    <h2>Lesson Files</h2>

    <a th:href="@{/addFilesLesson(lessonId=${LessonDetail.lessonID})}">Add file</a>
    <a th:href="@{/AllTest}">List All Test</a>

    <table border="1">
        <tr>
            <th>File ID</th>
            <th>Lesson ID</th>
            <th>File Name</th>
            <th>File Data</th>
            <th>Download</th>
            <th th:if="${session.LoginSuccess != null and session.LoginSuccess.userRole == 'Teacher'}">Action</th>
        </tr>
        <tr th:each="Files : ${AllFiles}">
            <td th:text="${Files.idFile}"></td>
            <td th:text="${Files.lesson.lessonID}"></td>
            <td th:text="${Files.fileName}"></td>
            <td>
                <a th:href="@{'/viewFileDetail/' + ${Files.idFile}}">View Content</a>
            </td>

            <td><a th:href="@{'/downloadFile/' + ${Files.idFile}}">Download</a></td>
            <td th:if="${session.LoginSuccess != null and session.LoginSuccess.userRole == 'Teacher'}">
                <a th:href="@{'/deleteFile'(fileId=${Files.idFile}, lessonId=${LessonDetail.lessonID})}">Delete</a>
            </td>
        </tr>

    </table>

    <br>
    <a th:href="@{/CourseMain}">Back To All Course</a>
</body>

</html>